.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.heading {
  color: aqua;
}
.list-container {
  border: 2px solid aqua;
  border-radius: 5px;
  width: 100%;
}
.list-head {
  margin: 0px;
  list-style: none;
  background-color: #0ff5;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: bolder;
  padding: 5px;
}
.col1 {
  width: 60%;
}
.col2 {
  width: 20%;
}
.col3 {
  width: 20%;
}
